@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Dosis&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, 
body,
#root {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Bangers', cursive;
    font-family: 'Dosis', sans-serif;

    --secondary-theme: #3FD0C9;
    --main-theme: #32CD32;
}